import hookmeup

config = [
    {
        # Lecture website with password protection.
        "id": "dwt_ue",
        "url": "http://wwwalbers.in.tum.de/lehre/2017SS/dwt/uebung/index.html.de",
        "targets": [
            (hookmeup.match_url("2017SS/dwt/uebung/.+\.pdf"), "DWT/Übung"),
        ],
        "user": "dwt17",
        "passwd": hookmeup.pwd_direct("markov"),
    },
    
    {
        # Moodle.
        "id": "agt",
        "url": hookmeup.moodle_url(53313),
        "targets": [
            (hookmeup.match_filename(".+\.pdf"), "Algorithmic_Game_Theory"),
        ],
        "user": "<redacted>",
        "passwd": hookmeup.pwd_from_console("Moodle"),
    },
    
    
    {
        # Lecture website with cookie-based password protection.
        "id": "cvvm",
        "url": "https://vision.in.tum.de/teaching/ws2019/cvvm_ws19/material",
        "headers": {"Cookie": "DokuWiki=<redacted>"},
        "resolve": False,
        "targets": [
            (hookmeup.match_url("cvvm_ws19/material/variational.+\.pdf"), "CV_Variational/slides"),
            (hookmeup.match_url("cvvm_ws19/material/vmcv_.+\.(pdf|zip)"), "CV_Variational/exercises"),
        ],
    },
]

hookmeup.main(config)
